<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElectricityBillCalculator"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ElectricityBillCalculator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:label="Bill History"
            android:theme="@style/Theme.ElectricityBillCalculator" />

        <activity
            android:name=".BillDetailActivity"
            android:exported="false"
            android:label="Bill Details"
            android:theme="@style/Theme.ElectricityBillCalculator" />

        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="About"
            android:theme="@style/Theme.ElectricityBillCalculator" />

        <activity
            android:name=".EditBillActivity"
            android:exported="false"
            android:label="Edit Bill"
            android:theme="@style/Theme.ElectricityBillCalculator" />

    </application>

</manifest>